<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body id="app">

<div class="container">
    <div id="gifNum" class="picNumber">
        <h1>{{ currentImageIndex }} / {{ totalImageCount }}</h1>
    </div>

    <div id="points" class="points">
        <h1>Points: {{ totalPoints }}</h1>
    </div>

    <div id="gifContainer" class="gif">
        <img v-bind:src="currentImageUrl" alt="Gif" class="img-responsive img-rounded">
    </div>

    <div id="word" class="letter-row">
        <ul class="list-inline">
            <li v-for="letter in lettersPicked">
                <input v-on:click="removeFromWord($index)" track-by="$index" type="button" value="{{ letter }}"
                       class="letter btn btn-lg btn-primary">
            </li>
        </ul>
    </div>

    <div id="letters" class="letter-row">
        <ul class=" list-inline">
            <li v-for="letter in lettersAvailable">
                <input v-on:click="addToWord($index)" track-by="$index" type="button" value="{{ letter }}"
                       class="letter btn btn-lg btn-primary">
            </li>
        </ul>
    </div>

    <div class="winning" v-if="wordMatches">
        You won!
    </div>

                        <!--<div id="controls">-->
                            <!--<input type="button" v-on:click="shuffle" value="shuffle" class="btn btn-default">-->
                        <!--</div>-->
</div>

<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>

<script type="text/javascript">
    (function () {
        function shuffle (list) {
            var j, x, i;
            for (i = list.length; i; i -= 1) {
                j = Math.floor(Math.random() * i);
                x = list[i - 1];
                list[i - 1] = list[j];
                list[j] = x;
            }

            return list;
        }

        new Vue({
            el: '#app',
            data: {
                currentImageUrl: 'http://media2.giphy.com/media/FiGiRei2ICzzG/giphy.gif',
                currentImageIndex: 1,
                totalImageCount: 10,
                totalPoints: 100,
                lettersAvailable: shuffle(['o', 'e', 't', 'b', 'b', 'a', 'r', 'q', 'p', 'm', 'c']),
                lettersPicked: [],
                currentWord: 'cobra'
            },
            computed: {
                wordMatches: function () {
                    return this.lettersPicked.join('') == this.currentWord;
                }
            },
            methods: {
                addToWord: function (index) {
                    /**
                     * Remove from the list of letters available
                     * Add letter to the guess
                     */

                    this.lettersPicked.push(this.lettersAvailable[index]);
                    this.lettersAvailable.splice(index, 1);
                },
                removeFromWord: function (index) {
                    /**
                     * Remove from the list of letters guessed
                     * Add letter to the letters available
                     */

                    this.lettersAvailable.push(this.lettersPicked.splice(index, 1));
                },
                guess: function () {
                    var word = this.lettersPicked.join('');

                    if (word == this.currentWord) {
                        this.totalPoints *= 2;

                        // TODO Call success to get next image
                        // Or end the game (if last image)

                        this.currentImageUrl = 'https://media0.giphy.com/media/feqkVgjJpYtjy/giphy.gif';

                        // TODO Reset the letters guessed
                        this.lettersPicked = [];
                        this.lettersAvailable = shuffle(['d', 'e', 'r', 'w', 't', 'd', 'i', 'd', 'l', 'o', 'e']);
                    } else {
                        this.totalPoints -= 10;
                    }
                }
            }
        });
    })();

</script>
</body>
</html>
