<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body id="app">
<div class="container">
    <div class="row">

        <div class="col-xs-4 text-info text-left">
            <h3>{{ currentImageIndex }} / {{ totalImageCount }}</h3>
        </div>

        <div class="col-xs-4 text-info text-left text-center">
            <input type="button" v-on:click="showLeaderboard" class="btn btn-default btn-lg" value="Leaders">
        </div>

        <div class="col-xs-4 text-success text-right">
            <h3>{{ totalPoints }}</h3>
        </div>

    </div>

    <div class="row">

        <div id="gif-container" class="col-sm-12 lg">
            <img v-bind:src="currentImageUrl" id="gif" alt="Gif" class="img-responsive img-rounded center-block">
        </div>

    </div>


    <div id="controls">
        <div class="row">
            <div class="col-xs-4">
                <input type="button" v-on:click="addHint" class="btn btn-info btn-block" value="Hint">
            </div>
            <div class="col-xs-4">
                <input type="button" v-on:click="showDef" class="btn btn-warning btn-block" value="Define">
            </div>
            <div class="col-xs-4">
                <input type="button" v-on:click="guess" class="btn btn-success btn-block" value="Guess">
            </div>
	    <div class="col-xs-4">
		<input type="button" v-on:click="skipF" class="btn btn-danger btn-block" value="Skip">
	    </div>
        </div>
    </div>

    <div id="def">
        <h2> {{ definition }}</h2>
    </div>

    <ul id="word" class="list-inline text-capitalize letter-row center-block">
        <li v-for="letter in lettersPicked">
            <input v-on:click="removeFromWord($index)" track-by="_uid" type="button" value="{{ letter.value }}"
                   class="letter btn btn-primary text-capitalize">
        </li>
    </ul>

    <ul id="letters" class="list-inline text-capitalize letter-row center-block">
        <li v-for="letter in lettersAvailable">
            <input v-on:click="addToWord($index)" track-by="_uid" type="button" value="{{ letter.value }}"
                   class="letter btn btn-primary text-capitalize">
        </li>
    </ul>
    <div class="winning" v-if="wordMatches">
        You won!
    </div>

    <!-- Leadboard modal -->
    <div id="leaderboard" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Leadboard</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-striped">

                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>User</th>
                            <th>Highscore</th>
                        </tr>
                        </thead>
                        <tbody v-for="user in leaderboard">
                        <tr>
                            <td>{{ $index + 1 }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.highscore }}</td>
                        </tr>
                        </tbody>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Log in modal -->
    <div id="login" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pick a name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" v-model="userID" placeholder="Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="updateName">Play</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./js/parse.js"></script>

<script type="text/javascript">
    (function () {
        // Found from stackoverflow
        function shuffle (list) {
            var j, x, i;
            for (i = list.length; i; i -= 1) {
                j = Math.floor(Math.random() * i);
                x = list[i - 1];
                list[i - 1] = list[j];
                list[j] = x;
            }

            return list;
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Parse
            Parse.initialize("JIpKf0ovLwoBEZZc4gH2jwcnmISyzPNHhlmXhOf9", "DE0mzYBrTRHxB7QYGPs5iRAQ1YtzaGZgebu4yq7E");

            $('#login').modal('show')
        });

        new Vue({
            el: '#app',
            data: {
                currentImageUrl: 'http://media2.giphy.com/media/FiGiRei2ICzzG/giphy.gif',
                currentImageIndex: 1,
                totalImageCount: 10,
                totalPoints: 150,
                lettersAvailable: shuffle([{value: 'o', _uid: Math.random()}, {value: 'e', _uid: Math.random()},
                    {value: 't', _uid: Math.random()}, {value: 'b', _uid: Math.random()},
                    {value: 'b', _uid: Math.random()}, {value: 'a', _uid: Math.random()},
                    {value: 'r', _uid: Math.random()}, {value: 'q', _uid: Math.random()},
                    {value: 'p', _uid: Math.random()}, {value: 'c', _uid: Math.random()}
                ]),
                lettersPicked: [],
                currentWord: '',
                imagesAvailable: ['http://media2.giphy.com/media/FiGiRei2ICzzG/giphy.gif', 'http://i.giphy.com/RIqeTzCELqASY.gif'],
                hintCount: 0,
                hintMax: false,
                definition: '',
                userID: '',
                leaderboard: [
                    {'name': 'APO', highscore: 1337},
                    {'name': 'APO', highscore: 1337},
                    {'name': 'APO', highscore: 1337},
                    {'name': 'APO', highscore: 1337},
                    {'name': 'APO', highscore: 1337}
                ],
		alphabet: ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","y","x","z"],
		showDefT: '',
		skip: false
            },
            computed: {},
            methods: {

                pullWord: function () {
                    var self = this;
                    $.ajax({
                        url: 'http://urbanpic.mangohacks.com/',
                        type: "GET"
                    }).done(function (data) {
                        self.currentWord = data["term"];
                        self.currentImageUrl = data["gifs"][0];

                        self.imagesAvailable = [];

                        for (var i = 0; i < data['gifs'].length; i++) {
                            self.imagesAvailable.push(data["gifs"][i])
                        }

                        self.showDefT = data['definition'];
                        self.lettersPicked = [];
                        self.lettersAvailable = [];

                        while (data.letters.length < 12) {
                            data.letters.push(self.alphabet[Math.floor(Math.random() * 26)]);
                        }

                        for (var i = 0; i < data.letters.length; i++) {
                            self.lettersAvailable.push({
                                value: data.letters[i],
                                _uid: Math.random()
                            });
                        }

                        self.lettersAvailable = shuffle(self.lettersAvailable);
                    });

                },


                updateName: function () {
                    $('body').attr('v-on:keydown.delete.prevent', 'removeLastFromWord');
                    $('body').attr('v-on:keydown.enter.prevent', 'guess');
                    $('#login').modal('hide');
                    this.pullWord();
                },
                addToWord: function (index) {
                    /**
                     * Remove from the list of letters available
                     * Add letter to the guess
                     */

                        // Push letter to letters picked
                    this.lettersPicked.push(this.lettersAvailable[index]);

                    // Remove letter from letters available
                    this.lettersAvailable.$remove(this.lettersAvailable[index]);
                },
                removeFromWord: function (index) {
                    /**
                     * Remove from the list of letters guessed
                     * Add letter to the letters available
                     */

                        // Push letter to letters available
                    this.lettersAvailable.push(this.lettersPicked[index]);

                    // Remove letter from letters picked
                    this.lettersPicked.$remove(this.lettersPicked[index]);
                },
                showDef: function () {
                    this.definition = this.showDefT;
                    this.totalPoints -= 3;
                },
                addHint: function () {
                    var maxHint = this.imagesAvailable.length;

                    // Check if all hints have been used
                    if (this.hintCount >= maxHint
                            && !this.hintMax) {
                        this.hintMax = true;
                        this.hintCount = 0;
                    }

                    if (this.hintMax) {
                        // All hints have been used

                        // Loop back to first image
                        this.currentImageUrl = this.imagesAvailable[hintCount];

                        // Check
                        if (this.hintCount >= this.imagesAvailable.length - 1) {
                            this.hintCount = 0;
                        }
                    } else {
                        // Not all hints have been used

                        // Punish the user for using a hint
                        this.totalPoints -= 1;

                        this.hintCount++;

                        //TODO change this to pull from database
                        this.currentImageUrl = this.imagesAvailable[this.hintCount];
                    }
                },
                removeLastFromWord: function () {
                    /**
                     * Remove the last letter from letters guessed
                     * Add letter to the letters available
                     */

                    // Check if there have been any letters picked
                    if (this.lettersPicked.length < 1) {
                        return;
                    }

                    // Remove letter from letters picked
                    var letter = this.lettersPicked.pop();

                    // Push letter to letters available
                    this.lettersAvailable.push(letter);
                },
		skipF: function(){
			this.skip = true;
			this.totalPoints -=50;
			this.guess();
		},


                guess: function () {
                    // Get the guessed word
                    var word = '';
                    for (var i = 0; i < this.lettersPicked.length; i++) {
                        word += this.lettersPicked[i].value;
                    }

                    // Check if the guess is correct
                    if (word == this.currentWord || this.skip == true) {
                        this.success();

			this.skip=false;

                        // Guess is correct
                        this.wordMatches = true;

                        // Give reward
                        this.totalPoints *= 2;
                        this.pullWord();
                        // TODO Call success to get next image
                        // Or end the game (if last image)

                        this.hintMax = false;
                        this.definition = "";
                    } else {
                        // Guess is incorrect
                        this.totalPoints -= 10;
                    }

                    this.updateOnlineScore();
                },
                success: function () {
                    // Check if this was the last image
                    if (this.currentImageIndex == this.totalImageCount) {
                        // The game is over

                        return;
                    }

                    // Go to the next image
                    this.currentImageIndex++;
                    this.currentImageUrl = this.imagesAvailable[this.currentImageIndex];
                },
                showLeaderboard: function () {
                    $('#leaderboard').modal('show');
                },
                updateOnlineScore: function () {
                    // Find this user in database
                    var self = this;

                    // Create player class
                    var Player = Parse.Object.extend("Player");

                    // Create leaderboard class
                    var Leaderboard = Parse.Object.extend("Leaderboard");

                    // Find Player with this username
                    var playerQuery = new Parse.Query(Player);
                    playerQuery.equalTo('userID', self.userID);
                    playerQuery.find({
                        success: function (players) {
                            var player;

                            if (players.length < 1) {
                                // No players found

                                // Make new player
                                player = new Player();

                                // User their username
                                player.set('userID', self.userID);

                                // Save new player
                                player.save();
                            } else {
                                // Found some players

                                // User existing player
                                player = players[0];
                            }

                            // Find this player's score
                            var scoreQuery = new Parse.Query(Leaderboard);
                            scoreQuery.equalTo('userID', player);
                            scoreQuery.find({
                                success: function (scores) {
                                    var score;

                                    if (scores.length < 1) {
                                        // No scores found

                                        // Make new score
                                        score = new Leaderboard();

                                        // Cast score to string for Parse
                                        score.set('highScore', '' + self.totalPoints);

                                        score.set('userID', player);
                                    } else {
                                        // Update existing score
                                        score = scores[0];

                                        // Cast score to string for Parse
                                        score.set('highScore', '' + self.totalPoints);
                                    }

                                    // Save score
                                    score.save();
                                }
                            });
                        }
                    })
                }
            }
        });
    })();

</script>
</body>
</html>
