.picNumber {
    color: red;
    margin: 30px;
}

.points {

    color: blue;
    margin: 30px;
}

.gif {
    top: 100px;
    /*display: flex;
    justify-content: center;
    align-content=center;
*/
}

.letter-row {
    min-height: 5rem;
    margin: 2rem auto;
}

.letter {
    font-family: monospace;
}