#gif {
    margin-top: 5rem;
}

.letter-row {
    margin-bottom: 0;
    margin-top: 0;

    font-size: 0;
    min-height: 10rem;
}

.letter {
    padding: 2rem;
    font-size: 2rem;
    font-family: monospace;
    margin: 2rem auto;
}